<script>
$(function(){
  var url = location.pathname;
  var page = <%= @page_number %>;
  var flag = true;
  view.init(url , page);
  $(window).keyup(function(e){
    if (flag) {
      e.which == 37 && view.next();
      e.which == 39 && view.prev();
      e.which == 38 && view.top();
      e.which == 40 && view.last();
    }
  });

  $("input").focus(function(){
    flag = false;
    $(this).css("background","#b3eaef");
  }).blur(function(){
    flag = true;
    $(this).css("background","#fff");
  });

});
</script>

<div class='row'>
  <div id="view" class='col-sm-10'>
    <% if @page_left %><img id="main_view" src="<%= @page_left %>" height=800px width=auto onclick="view.next();"><% end %>
    <% if @page_right %><img id="main_view" src="<%= @page_right %>" height=800px width=auto onclick="view.prev();"><% end %>
  </div>
  <div class='col-sm-2' style="margin-left: -70px">
    <a href="/">トップへ</a>
    <p><%= @page_number + 1 %> / <%= @page_count %></p>
    <form method="POST" action="/detail/<%= @id %>">
      <p>
        元ネタ <input type="text" name="origin" value="<%= @origin %>">
      </p>
      <p>
        作品名 <input type="text" name="name" value="<%= @name %>">
      </p>
      <p>
        作者名 <input type="text" name="author" value="<%= @author %>">
      </p>
      <input type="submit" name="submit" id="submit" value="更新">
      <input type="submit" name="submit" id="good" value="いいね！(<%= @good_count %>)">
    </form>
  </div>
</div>
